# GOOGLE PROVIDER ----------------------------------
MODEL="google/gemini-3.7-flash"
SUB_AGENT_MODEL="google/gemini-3.5-flash-lite"
GEMINI_API_KEY=""


# OPENROUTER PROVIDER ------------------------------
MODEL="openrouter/z-ai/glm-5.3-flash"
SUB_AGENT_MODEL="openrouter/qwen/qwen3.8-27b"
OPENROUTER_API_KEY=""


# OPENCODE PROVIDER --------------------------------
MODEL="opencode/hy3-free"
SUB_AGENT_MODEL="opencode-zen/mimo-v2.5-free"
OPENCODE_API_KEY=""